@import url("https://fonts.googleapis.com/css?family=Prompt:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=thai");

* {
  font-family: "Prompt", sans-serif;
  font-size: 16px;
}

.c-4b804c {
  color: #4b804c;
}
.fw-500 {
  font-weight: 500;
}
.container-web {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}

.div-header-logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.logo-header {
  width: auto;
  height: 110px;
  margin-top: 0px;
}

.label-switch-lang {
  position: absolute;
  right: 2rem;
  top: 1rem;
}
.switch {
  display: inline-block;
  height: 36px;
  position: relative;
  width: 100px;
  overflow: hidden;
  margin-bottom: 0;
}

.switch input {
  display: none;
}

.slider {
  background-color: #ffffff;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
  border: 1px solid #4b804c;
}

.slider:before {
  background-color: #4b804c;
  top: 0px;
  bottom: 0px;
  content: "";
  height: 34px;
  left: 0px;
  position: absolute;
  transition: 0.4s;
  width: 55px;
}

input:checked + .slider {
  background-color: #ffffff;
}

input:checked + .slider:before {
  transform: translateX(43px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 34px;
}

.box-text-lang {
  width: 50px;
  height: 35px;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #4b804c;
}
.box-text-lang.box-th {
  left: 0;
}
.box-text-lang.box-en {
  right: 0;
}
.box-text-lang.active {
  color: #ffffff;
}

#carousel-home.carousel .carousel-control-prev-icon,
#carousel-home.carousel .carousel-control-next-icon {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
}
.section-solution {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.box-solutions-home {
  width: 220px;
  margin-left: 8px;
  margin-right: 8px;
  text-align: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  border-radius: 8px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  cursor: pointer;
}
.box-solutions-home .img-solution-home {
  width: 80%;
}
.box-solutions-home p {
  color: #000000;
  font-size: 16px;
}
.box-solutions-home:hover {
  background-image: linear-gradient(to right, #1b6565, #1a9564, #4a954c);
}
.box-solutions-home:hover p {
  color: #ffffff;
}
.box-solutions-home:hover .img-solution-home {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}
.slider-banner {
  position: relative;
}
.ul-nav-geton {
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  color: #ffffff;
}
.ul-nav-geton .li-nav-geton .a-nav-geton {
  display: block;
  color: #ffffff;
  padding-top: 0.85rem;
  padding-bottom: 0.85rem;
  font-weight: 400;
  font-size: 20px;
  padding-left: 1rem;
  padding-right: 1rem;
}
.ul-nav-geton .li-nav-geton .a-nav-geton:hover,
.ul-nav-geton .li-nav-geton .a-nav-geton:active,
.ul-nav-geton .li-nav-geton .a-nav-geton.active {
  color: #b4d8b4;
}
.nav-geton {
  min-height: 70px;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-geton {
  z-index: 3;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  transition: transform 300ms;
}
.header-geton.hide-header {
  transform: translateY(-180px);
}
.main-geton {
  margin-top: 110px;
  z-index: 2;
}
.btn-search {
  width: 55px;
  height: 55px;
  background-image: url("../img/icon_close_search_nav.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 25px auto;
}
.btn-search:hover {
  background-image: url("../img/icon_close_search_nav_hover.png");
}
.btn-search.collapsed {
  background-image: url("../img/icon_search_nav.png");
}
.btn-search.collapsed:hover {
  background-image: url("../img/icon_search_nav_hover.png");
}
.box-search {
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding-bottom: 1rem;
}
.input-search-nav {
  width: 100%;
  border-radius: 20px;
}
.input-search-nav:focus,
.input-search-nav:active {
  box-shadow: 0 0 0 1px rgba(180, 216, 180, 0.76);
  border-color: #b4d8b4;
}
.section-networksocial {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  background-image: linear-gradient(to right, #1b6565, #1a9564, #4a954c);
  padding-left: 2rem;
  padding-right: 8rem;
  position: relative;
  min-height: 520px;
}
.tower-social {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100px;
  background-color: #ffffff;
  padding-left: 15px;
}
.container-towersocail {
  width: 85px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.ul-social-tower {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
  background-color: #4b804c;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.ul-social-tower-2 {
  padding: 0;
  list-style: none;
  margin-bottom: 0;
  background-color: #d7d7d7;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.li-social-tower {
  display: block;
  margin-bottom: 1rem;
}
.li-social-tower:last-of-type {
  margin-bottom: 0;
}
.img-social-tower {
  width: 50px;
}
.update-event, .update-product {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.box-event-geton, .box-product-geton {
  cursor: pointer;
  position: relative;
}
.box-event-geton:hover .zoom img, .box-product-geton:hover .zoom img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.box-event-geton .zoom ,.box-product-geton .zoom {
  cursor: pointer;
}
.box-event-geton-body {
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  padding: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-top: -4.5rem;
}
.box-product-geton-body {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  padding: 1.25rem;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}
.short-title-event-geton {
  font-size: 1.5rem;
  line-height: 1.75rem;
  height: 3.5rem;
  overflow-y: hidden;
}
.short-title-product-geton{
  font-size: 1.5rem;
  line-height: 1.75rem;
  height: 5.25rem;
  overflow-y: hidden;
}
.shrot-detail-event-geton {
  font-size: 1.25rem;
  line-height: 1.5rem;
  height: 3rem;
  overflow-y: hidden;
  color: #58595b;
  font-weight: 400;
}
.btn-seemore-content{
  font-size: 1.15rem;
  border: 1px solid #58595b;
  border-radius: 1.8rem;
  min-width: 200px;
  color: #58595b;
  transition: all 500ms;
}
.btn-seemore-content:hover{
  background-color: #58595b;
  background-image: linear-gradient(to right, #1b6565, #1a9564, #4a954c);
  color: #ffffff;
}
.btn-seemore-content-white{
  font-size: 1.15rem;
  border: 1px solid #ffffff;
  border-radius: 1.8rem;
  min-width: 200px;
  color: #ffffff;
  transition: all 500ms;
}
.btn-seemore-content-white:hover{
  border-color: #58595b;
  color: #58595b;
  background-color: #ffffff;
}
.update-product{
  background-image: linear-gradient(to right, #1b6565, #1a9564, #4a954c);
}

.line-footer{
  width: 100%;
  height: 15px;
  background-image: linear-gradient(to right, #1b6565, #1a9564, #4a954c);
}
.section-footer{
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #000000;
}
.footer-contact{
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
}
.li-footer-contact{
  color: #ffffff;
  font-size: 18px;
  padding-left: 1rem;
  padding-right: 1rem;
  border-right: 1px solid #ffffff;
}
.li-footer-contact:last-of-type{
  border-right: none;
}
.footer-social{
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}
.li-footer-social{
  margin-right: 8px;
}
.li-footer-social:last-of-type{
  margin-right: 0;
}
.link-footer-social{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #ffffff;
}
.link-footer-social i {
  color: #ffffff;
}
@media (max-width: 575px) {
  .label-switch-lang {
    right: 0.5rem;
  }
  .li-footer-contact{
    padding-left: 0.45rem;
    padding-right: 0.45rem;
    font-size: 16px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
}

@media (max-width: 767px) {
  .box-solutions-home {
    width: 40%;
  }
  .btn-nav-responsive {
    position: absolute;
    bottom: 10px;
    right: 1rem;
  }
  .tower-social {
    position: relative;
    width: 100%;
    padding-left: 0;
  }
  .container-towersocail {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .ul-social-tower,
  .ul-social-tower-2 {
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 7px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .li-social-tower {
    margin-bottom: 0;
    margin-right: 7px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .btn-nav-responsive {
    position: absolute;
    bottom: 10px;
    right: 2rem;
  }
  .tower-social {
    position: relative;
    width: 100%;
    padding-left: 0;
  }
  .container-towersocail {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .ul-social-tower,
  .ul-social-tower-2 {
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 7px;
  }
  .li-social-tower {
    margin-bottom: 0;
    margin-right: 15px;
  }
}
@media (max-width: 991px) {
  .ul-nav-geton {
    display: block;
    width: 100%;
  }
  .div-header-logo {
    background-color: #ffffff;
  }
  .nav-geton {
    position: absolute;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .main-geton {
    margin-top: 110px;
  }
  .ul-nav-geton .li-nav-geton .a-nav-geton {
    text-align: center;
  }
  .li-contain-btn-search {
    display: none !important;
  }
  .input-search-nav {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 40px;
    background-image: url("../img/icon_search_nav_hover.png");
    background-position: 12px center;
    background-repeat: no-repeat;
    background-size: 22px;
  }
  .section-networksocial {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
  }

  .li-social-tower:last-of-type {
    margin-right: 0;
  }
  .section-customer{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media (min-width: 992px) {
  .header-geton .navbar-collapse {
    display: flex;
  }
  .btn-nav-responsive {
    display: none;
  }
  .li-nav-geton .input-search-nav {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 1200px) {
  .update-event, .update-product {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .section-customer{
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
